# tag used in docker-compose.yml for solr & archivesspace images.
# available versions: https://hub.docker.com/r/archivesspace/archivesspace/tags
ARCHIVESSPACE_DOCKER_TAG=4.0.0

# used by the archivesspace container's archivesspace.sh
JAVA_OPTS="-Djava.awt.headless=true -Dfile.encoding=UTF-8 -Xms2g -server -Djavax.accessibility.assistive_technologies=''"
ASPACE_JAVA_XMX="-Xmx4g"
ASPACE_JAVA_XSS="-Xss1m"

# used by thearchivesspace container's docker-startup.sh
ASPACE_DB_MIGRATE="true"

# used by solr container
SOLR_JAVA_MEM="-Xms1g -Xmx1g"

# used by mysql container's docker-entrypoint-initdb.d
MYSQL_ROOT_PASSWORD="123456"
MYSQL_DATABASE="archivesspace"
MYSQL_USER="as"
MYSQL_PASSWORD="as123"

# if using nginx proxy container
# APPCONFIG_FORCE_SSL=false
# APPCONFIG_FRONTEND_PROXY_URL="http://localhost/staff/"
# APPCONFIG_OAI_PROXY_URL="http://localhost/oai"
# APPCONFIG_PUBLIC_PROXY_URL="http://localhost/"
# NGINX_PORT=80
